In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from NaiveBayesAC.naiveBayesAC import NaiveBayesAC as nbac
from NaiveBayesAC import utilsAC as nbutac

In [2]:
def apply_nv(X, y):
    train_x, train_y, test_x, test_y = nbutac.splitTrainTest(X, y, 0.7)
    nb_model = nbac()
    nb_model.fit(train_x, train_y)
    pred = nb_model.predict(test_x)
    print(f'Model accuracy: {nbutac.get_acc(test_y, pred)}')

### Data 1

In [3]:
data1 = pd.read_csv('data1.csv', header=None)
print(data1.shape)
data1.head()

(171, 4)

   0  1  2  3
0  1  1  2  1
1  1  1  5  1
2  1  1  6  1
3  1  2  1 -1
4  1  2  5  1

In [4]:
data1_x = data1.iloc[:, :-1]
data1_y = data1.iloc[:, -1]

data1_y.value_counts()

3
 1    98
-1    73
Name: count, dtype: int64

In [5]:
apply_nv(data1_x, data1_y)

Model accuracy: 0.9230769230769231

### Data 2

In [6]:
data2 = pd.read_csv('data2.csv', header=None)
print(data2.shape)
data2.head()

(218, 4)

        0        1        2  3
0 -49.841  14.4510 -42.9420 -1
1 -48.796 -45.8040   9.9935  1
2 -48.563 -22.6430 -32.5720 -1
3 -48.427  37.3230 -29.4660 -1
4 -48.310   3.5721  34.9960 -1

In [14]:
data2_disc = nbutac.discretize(data2, cols=[0, 1, 2])
data2_disc.head()

   0  1  2  3
0  0  6  0 -1
1  0  0  6  1
2  0  2  2 -1
3  0  8  2 -1
4  0  5  8 -1

In [15]:
data2_x = data2_disc.iloc[:, :-1]
data2_y = data2_disc.iloc[:, -1]

data2_y.value_counts()

3
-1    109
 1    109
Name: count, dtype: int64

In [39]:
apply_nv(data2_x, data2_y)

Model accuracy: 0.9393939393939394

### Data 3

In [ ]:
data3 = pd.read_csv('data3.csv', header=None)
print(data3.shape)
data3.head()

(208, 4)

    0   1   2  3
0  12  10  28  0
1  13  10  27  0
2  14   8  28  0
3  14  12  24  0
4  14  13  23  0

In [ ]:
data3_x = data3.iloc[:, :-1]
data3_y = data3.iloc[:, -1]

data3_y.value_counts()

3
1    120
0     88
Name: count, dtype: int64

In [ ]:
apply_nv(data3_x, data3_y)

Model accuracy: 0.9047619047619048

### Mail classification 1

In [ ]:
mail_data1_dict = {'Good to see you. Good day.': 'spam',
         'See the sky. See the little stars.': 'ham',
         'Nice picture. Nice, nice, frame.': 'ham',
         'See you. Good day.': 'spam'}

mail_data1_list = ['Good, nice, little stars.']

m_train1 = nbutac.text2df(mail_data1_dict)
m_test1 = nbutac.text2df(mail_data1_list)

m_train1_x = m_train1.iloc[:, :-1]
m_train1_y = m_train1.iloc[:, -1]

In [ ]:
mail_model1 = nbac()
mail_model1.fit(m_train1_x, m_train1_y)
mail_pred1 = mail_model1.predict(m_test1)
mail_pred1 = ['spam' if i == 1 else 'ham' for i in mail_pred1]
for i in range(len(mail_pred1)):
    print(f'{mail_data1_list[i]} : {mail_pred1[i]}')

good nice little stars : ham

### Mail classification 2

In [ ]:
mail_data2_dict = {'send us your internet banking password': 'spam', 
              'send us your mobile number': 'ham',
              'change your internet banking password': 'ham',
              'change your userid': 'spam', 
              'send your internet banking password': 'spam',
              'send us your account details': 'spam'}

mail_data2_list = ['change your account number', 'send your address']

m_train2 = nbutac.text2df(mail_data2_dict)
m_test2 = nbutac.text2df(mail_data2_list)

m_train2_x = m_train2.iloc[:, :-1]
m_train2_y = m_train2.iloc[:, -1]

In [ ]:
mail_model2 = nbac()
mail_model2.fit(m_train2_x, m_train2_y)
mail_pred2 = mail_model2.predict(m_test2)
mail_pred2 = ['spam' if i == 1 else 'ham' for i in mail_pred2]
for i in range(len(mail_pred2)):
    print(f'{mail_data2_list[i]} : {mail_pred2[i]}')

change your account number : ham
send your address : spam